.form-wrapper{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 10px;
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 100px;
    padding: 10px;
    width:auto;
}
label{
    text-align: left;
    color: #6c6d71;
    font-size: large;
    width: 100%;
}
.pass-wrapper{
    display: flex;
}
.showhide{
    color: #2a5bd7;
    width: 100%;
    background-color: white;
    text-align: right;
    border: none;
    font-size:small;
}
input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 40px;
    margin-top:-15px;
}
input:focus{
    outline: 2px solid #edf2fe;
    outline-offset: 1px;
    border: 1px solid #2a5bd7;
}
.link{
    margin-top: -15px;
    text-align: right;
}
.login{
    background-color:#2a5bd7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
}
.login:hover{
    background-color: #0653c7;
    cursor: pointer;
}
.link:hover{
    color: #0066ff;
}
h1{
    
    color:#4f565a;
}
h4{
    color:#6c6d71
}